/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */

html{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff
}

:root{
    margin: 0.5rem;
    --header-height: 4.5rem;

    /* COLORS */

    --text-color: hsl(0 0% 46%);
    --text-color-alt: hsl(0 0% 70%);
  
    /* FONTS */
    --body-font: 'Montserrat', sans-serif;
}

/* ====================================================================== */
/* ==========================      Header      ========================== */
/* ====================================================================== */

#header {
    border-bottom: 1px solid var(--base-color-dark) E4E4E4;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: hsl(178,100%,25%);
}

.section{
    padding: 2rem;

}

.section header {
    margin-bottom: 4rem;
}

.section header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}  

.section header strong {
    color: var(--base-color-light);
}

main {
    margin-top: var(--header-height);
}

header .containerCSS {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

ul {
    list-style: none;
}
.title-2 {
    color: var(--text-color-alt);
}

.grid {
    display: grid;
    gap: 2rem;
}
  
.containerCSS {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* ====================================================================== */
/* ==========================       MENU       ========================== */
/* ====================================================================== */

.containerCSS .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
}

.containerCSS .menu ul {
    display: flex;
    gap: 2rem;
}


a span{
    font: 450 1.75rem var(--body-font);
    font-weight: bold;
    color: #fff
}

.containerCSS .menu ul li a.title-2 {
    font: 450 1.25rem var(--body-font);
    color: #fff
}


/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */

/* ====================================================================== */
/* ========================== Reset MUI Styles ========================== */
/* ====================================================================== */
#formsContainer .MuiFormLabel-root.Mui-focused {
    color: hsl(178,100%,25%)  !important;

}

#formsContainer fieldset{
    border-color: hsl(178,100%,25%) !important;
    
}

#validateBtn{
    background-color: #626262;
}
#formsContainer .MuiFormLabel-root{
    color: hsl(178,100%,25%)  !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline{
    border-color: #CE4446 !important
}

.MuiFormLabel-root.Mui-focused.Mui-error{
    color: #CE4446  !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-error{
    color: #CE4446  !important;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */


/* ====================================================================== */
/* ==========================      Tabela      ========================== */
/* ====================================================================== */

/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
